* {
  margin: auto;
}

.header {
  padding: 20px;
  font-family: "Arial";
  background-color: rgba(145, 3, 57, 0.692);
  color: rgb(14, 11, 11);
  overflow: hidden;
}

.nav-holder {
  display: flex;
  justify-content: center;
  color: black;
}

.nav-holder li {
  list-style-type: none;
  padding: 5px;
  margin: 10px;
  display: inline-block;
}

.about-me-container h3 {
  margin: 5px;
  padding: 5px;
  text-align: center;
}

.about-me-flex-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.about-me-image img {
  object-fit: contain;
  width: ;
}

.about-me-text {
  font-size: 2.5rem;
  padding: 25px;
  border-radius: 5px;
  border: 1px solid #1a1a1a;
}

.linkedin {
  width: 40px;
  padding: 0px;
  shape-image-threshold: 30px;
}

a:hover .nav-holder {
  border-bottom: 1px solid;
  background: #cdfeaa;
}

@media screen and (max-width: 768px) {
  .nav-holder {
    flex-direction: column;
    align-content: center;
  }
}

@media screen and (max-width: 768px) {
  .nav-holder li {
    text-align: center;
  }
}
