* {
  margin: auto;
}

.header {
  padding: 20px;
  font-family:"Arial";
  background-color: rgba(145, 3, 57, 0.692);
  color: rgb(14, 11, 11);
  overflow: hidden;
}

.nav-holder ul{
  display:flex;
  flex-wrap: wrap;
  justify-content: center;
  color: black;
}

.nav-holder li{
  list-style-type: none;
  padding: 5px;
  margin: 10px;
  color: black;
  
}

.about me {
  width: 10%;
  text-align: left;
}

.float left {
  size: 2px;
  width: 20";
}

@media screen and (max-width:768px){
  .nav-holder{
  flex-direction: column;
  align-content: center;
  }
}